@use "@styles/globals.module.scss";

.layoutManager {
    h1 {
        margin: 0;
    }
    .header {
        text-align: right;
        margin-bottom: 8px;
    }
}

.optionList {
    max-height: 60vh;
    overflow-y: auto;
    padding-top: 4px;
    padding-bottom: 4px;
}
.optionItem {
    transition: all 0.2s;
    border-radius: 8px;
    height: 100%;
    cursor: pointer;
    &:hover {
        border-color: #4096ff;
    }
}
.selectedOption {
    border-color: #1677ff;
    &:hover {
        border-color: #4096ff;
    }
    :global(.dark-mode) & {
        border-color: #1668dc;
        &:hover {
            border-color: #1677ff;
        }
    }
}
