@use "@styles/globals.module.scss";

.layoutManager {
    h1 {
        margin: 0;
    }
    .header {
        text-align: right;
        margin-bottom: 8px;
    }
    .layoutElementSelect {
        height: 64px;
        width: 100%;
    }
}
