@use "@styles/globals.module.scss";

.item {
    .title {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 2px 4px;
        z-index: 100;
        pointer-events: none;
        :global(.deleteBtn) {
            height: 12px;
            padding: 0;
            margin: 0;
            margin-left: 16px;
        }
    }

}

.overlayToolbar {
    :global(.deleteBtn) {
        height: 12px;
        padding: 0;
        margin: 0;
        margin-left: 4px;
        
        /* Ensure Ant Button defaults are overridden */
        line-height: 12px;
        span { 
            display: flex; 
        }
    }
}